*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fdfcfc;
}
.calculator{
    width:30em;
    height: 20em;
    display:flex;
    flex-direction: column;
    background-color: black;
}
input{
    width:10em;

}

.buttons{
    padding-left:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:px;
}
button{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border:0px;
}